# .NET
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Variables de entorno / secretos
.env
*.env
appsettings.Local.json